# Ignore everything
*
venv
# Allow folders so Git can traverse them
!*/

# Keep only these files
!preprocessing_faces.py
!face_clustering.py
!testing.py
!cdcn_train_v4.py
!densenet_train.py
!app.py
!requirements.txt
!DockerFile
!densenet_train_v2.py

# Allow the model checkpoint folder and its contents
!/models/
!/models/**


# Keep gitignore itself
!.gitignore