# Ignore everything
*

# Allow folders so Git can traverse them
!*/

# Keep only these files
!trainer.py
!preprocessing_faces.py
!face_clustering.py
!testing.py
!test_preprocessing_faces.py


# Keep gitignore itself
!.gitignore