# Ignore everything
*

# Allow folders so Git can traverse them
!*/

# Keep only these files
!trainer.py
!preprocessing_faces.py
!face_clustering.py
!testing.py
!cdcn_train_v4.py



# Keep gitignore itself
!.gitignore